<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Car List</title>
</head>
<body>
<h1>Car List</h1>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Max Speed</th>
        </tr>
        <tr th:each="car : ${carsList}">
            <td th:text="${car.brand}">...</td>
            <td th:text="${car.model}">...</td>
            <td th:text="${car.max_speed}">...</td>
        </tr>
    </table>
</div>
</body>
</html>